.cart-page {
  margin-top: 64px;
}

.cart-page h1 {
  padding: 15px !important;
  font-family: "roboto", sans-serif;
  font-weight: normal;
  background-color: rgba(0, 0, 255, 0.072) !important;
}
.cart-page h1 > p {
  font-size: 20px;
  margin-top: 10px;
}

.cart-page .card {
  padding: 5px !important;
  height: 150px !important;
  margin-bottom: 5px !important;
}
.cart-page .cart-remove-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-page .cart-summary {
  text-align: center;
  /* margin-top: -140px !important; */
}

.card-1{
  /* height:30vmax; */
  padding: 10px;
  width: 10px;
  /* border: 2px solid red; */
  background-color: rgb(204, 251, 234);
  margin: 2px;
}
.card-1 img{
  height: 10vmax;
  width: 100%;
    /* transform: scale(0.7); */
}
.remove{
  /* width: 10px; */
  padding: 2px;
}
.container .row{
  display: flex;
  justify-content: center;
  width: 100%;
}

.card-2{
  padding: 10px;
  width: 100rem;
  /* border: 2px solid red; */
  background-color: rgb(204, 251, 247);
  margin: 2px;
}
.welcom_poster{
  height: 28vmax;
  width: 100%;
  /* background: #000; */
  background-image: url(./coffee_wel.jpg);
  /* Set the background size */
  background-size: cover; /* You can use 'cover', 'contain', or specific dimensions */
  
  /* Prevent background image from repeating */
  background-repeat: no-repeat;
  
  /* Set the background position */
  background-position: center; /* You can use 'center', 'top', 'left', etc. */
  
  /* Set the background color if the image is not available or doesn't cover the entire element */
  background-color: #790101; /* Fallback background color */
}
.card-body_visit{
  height: 36vmax;
  width: 100%;
  /* background: #000; */
  background-image: url(./coffee_wel.jpg);
  /* Set the background size */
  background-size: cover; /* You can use 'cover', 'contain', or specific dimensions */
  
  /* Prevent background image from repeating */
  background-repeat: no-repeat;
  
  /* Set the background position */
  background-position: center; /* You can use 'center', 'top', 'left', etc. */
  
  /* Set the background color if the image is not available or doesn't cover the entire element */
  background-color: #790101; /* Fallback background color */
}
.card-body_thankyou{
  height: 36vmax;
  width: 100%;
  /* background: #000; */
  background-image: url(./do_visit.jpg);
  /* Set the background size */
  background-size: cover; /* You can use 'cover', 'contain', or specific dimensions */
  
  /* Prevent background image from repeating */
  background-repeat: no-repeat;
  
  /* Set the background position */
  background-position: center; /* You can use 'center', 'top', 'left', etc. */
  
  /* Set the background color if the image is not available or doesn't cover the entire element */
  background-color: #790101; /* Fallback background color */ 
}
.invoicebtn{
/* color: #790101; */
width: 50%;
height: 10%;
}
@media (max-width: 767px) {
  /* Your mobile-specific CSS rules go here */
  /* For example, you can adjust font sizes, margins, or make elements stack vertically. */
  .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
  .invoice{
    font-size: 11px;
   /* width: 120%;  */
   /* border: 2px solid blue; */
   /* color: #790101; */
  }
}
@media (max-width: 820px) {
  /* Your mobile-specific CSS rules go here */
  /* For example, you can adjust font sizes, margins, or make elements stack vertically. */
  .invoice{
    font-size: 13px;
   /* width: 120%;  */
   /* border: 2px solid blue; */
   /* color: #790101; */
  }
}